@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Blvd. de los ser finl s/n<br />
    Parque Industrial, HornoSillo Zonorra<br />
    <abbr title="Phone">P:</abbr>
    666.666.666
</address>

<address>
    <strong>Desarrollo:</strong> <a href="mailto:Support@example.com">Alpha chino Cochino</a><br />
    <strong>Desarrollador:</strong> <a href="mailto:Marketing@example.com">Maito gai Sensei</a>
</address>
