@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Blvd. de los ser finl s/n<br />
    Parque Industrial, Hermosillo<br />
    <abbr title="Phone">P:</abbr>
    6622014578
</address>

<address>
    <strong>Desarrollo:</strong> <a href="mailto:Support@example.com">Oliver Sinue Burgara</a><br />
    <strong>Desarrollador:</strong> <a href="mailto:Marketing@example.com">Oliver Sinue Burgara</a>
</address>
